<div>
  <div>
    <form class="d-flex justify-content-end" role="search" action="/before_three_season">
      <button class="btn btn-outline-secondary" type="submit" >2018-2019</button>
    </form>
  </div>
</div>

<br/>
<center>
  <h2>2017-2018 Season<h2>
</center>
<hr>
  <center><h3>Group Stage</h3></center>
  <br/>
  <center>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester United</td>
      <td scope="row" style="background-color:#BBF3BB">5</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">1</td>
      <td scope="row" style="background-color:#BBF3BB">15</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Basel</td>
      <td style="background-color:#BBF3BB">4</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CSKA Moscow</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>9</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Benfica</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-md-4">
        <h4>Group B</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">5</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">15</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Bayern Munich</td>
      <td style="background-color:#BBF3BB">5</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">15</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Celtic</td>
      <td>1</td>
      <td>0</td>
      <td>5</td>
      <td>3</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Anderlecht</td>
      <td>1</td>
      <td>0</td>
      <td>5</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-md-4">
        <h4>Group C</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Roma</td>
      <td scope="row" style="background-color:#BBF3BB">3</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">1</td>
      <td scope="row" style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Chelsea</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Atlético Madrid</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Qarabağ</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
  </div>
<br/>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Group D</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Barcelona</td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">14</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Juventus</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sporting CP</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Olympiacos</td>
      <td>0</td>
      <td>1</td>
      <td>5</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-md-4">
        <h4>Group E</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1</th>
      <td style="background-color:#BBF3BB">Liverpool</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Sevilla</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">9</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Spartak Moscow</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>6</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Maribor</td>
      <td>0</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-md-4">
        <h4>Group F</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City</td>
      <td scope="row" style="background-color:#BBF3BB">5</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">1</td>
      <td scope="row" style="background-color:#BBF3BB">15</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Shakhtar Donetsk</td>
      <td style="background-color:#BBF3BB">4</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Napoli</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>6</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Feyenoord</td>
      <td>1</td>
      <td>0</td>
      <td>5</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
  </div>
<br/>

    <center><div class="container">
    <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-4">
        <center><h4>Group G</h4></center>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Beşiktaş</td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">14</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Porto</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">10</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Monaco</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
      </div>
      
        <div class="col-md-4">
        <center><h4>Group H</h4></center>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Tottenham Hotspur</td>
      <td scope="row" style="background-color:#BBF3BB">5</td>
      <td scope="row" style="background-color:#BBF3BB">1</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">16</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Real Madrid</td>
      <td style="background-color:#BBF3BB">4</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">13</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Borussia Dortmund</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>APOEL</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
    </div>
  </div>
</center>

<hr>

  <center><h3>Knock-out Stage</h3></center>
<br/>
   <div class="container">
    <div class="row">
      <div class="col-md-3">
        <center><h5>Round of 16</h5></center>
  
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Sevilla</td>
      <td scope="col" style="background-color:#BBF3BB">0</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Manchester United</td>
      <td scope="row" >0</td>
      <td scope="row" >1</td>
      <td scope="row" >1</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Bayern Munich</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
      <td scope="col" style="background-color:#BBF3BB">3</td>
      <td scope="col" style="background-color:#BBF3BB">8</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Beşiktaş</td>
      <td scope="row" >0</td>
      <td scope="row" >1</td>
      <td scope="row" >1</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Juventus</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">4</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Tottenham Hotspur</td>
      <td scope="row" >2</td>
      <td scope="row" >1</td>
      <td scope="row" >3</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Real Madrid</td>
      <td scope="col" style="background-color:#BBF3BB">3</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Paris Saint-Germain</td>
      <td scope="row" >1</td>
      <td scope="row" >1</td>
      <td scope="row" >2</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Liverpool</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
      <td scope="col" style="background-color:#BBF3BB">0</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Porto</td>
      <td scope="row" >0</td>
      <td scope="row" >0</td>
      <td scope="row" >0</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Manchester City</td>
      <td scope="col" style="background-color:#BBF3BB">4</td>
      <td scope="col" style="background-color:#BBF3BB">1</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Basel</td>
      <td scope="row" >0</td>
      <td scope="row" >2</td>
      <td scope="row" >2</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Barcelona</td>
      <td scope="col" style="background-color:#BBF3BB">1</td>
      <td scope="col" style="background-color:#BBF3BB">3</td>
      <td scope="col" style="background-color:#BBF3BB">4</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Chelsea</td>
      <td scope="row" >1</td>
      <td scope="row" >0</td>
      <td scope="row" >1</td>
    </tr>
    </body>
  </table>

   <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Roma</td>
      <td scope="col" style="background-color:#BBF3BB">1</td>
      <td scope="col" style="background-color:#BBF3BB">1</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Shakhtar Donetsk</td>
      <td scope="row" >2</td>
      <td scope="row" >0</td>
      <td scope="row" >2</td>
    </tr>
    </body>
  </table>

      </div>
      <div class="col-md-3">
        <center><h5>Quarter-finals</h5></center>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Bayern Munich</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">0</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Sevilla</td>
      <td scope="row" >1</td>
      <td scope="row" >0</td>
      <td scope="row" >1</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Real Madrid</td>
      <td scope="col" style="background-color:#BBF3BB">3</td>
      <td scope="col" style="background-color:#BBF3BB">1</td>
      <td scope="col" style="background-color:#BBF3BB">4</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Juventus</td>
      <td scope="row" >0</td>
      <td scope="row" >3</td>
      <td scope="row" >3</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Liverpool</td>
      <td scope="col" style="background-color:#BBF3BB">3</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Manchester City</td>
      <td scope="row" >0</td>
      <td scope="row" >1</td>
      <td scope="row" >1</td>
    </tr>
    </body>
  </table>

<table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Roma</td>
      <td scope="col" style="background-color:#BBF3BB">1</td>
      <td scope="col" style="background-color:#BBF3BB">3</td>
      <td scope="col" style="background-color:#BBF3BB">4</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Barcelona</td>
      <td scope="row" >4</td>
      <td scope="row" >0</td>
      <td scope="row" >4</td>
    </tr>
    </body>
  </table>

      </div>
      <div class="col-md-3">
        <center><h5>Semi-finals</h5></center>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Real Madrid</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">4</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Bayern Munich</td>
      <td scope="row" >1</td>
      <td scope="row" >2</td>
      <td scope="row" >3</td>
    </tr>
    </body>
  </table>

  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Liverpool</td>
      <td scope="col" style="background-color:#BBF3BB">5</td>
      <td scope="col" style="background-color:#BBF3BB">2</td>
      <td scope="col" style="background-color:#BBF3BB">7</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Roma</td>
      <td scope="row" >2</td>
      <td scope="row" >4</td>
      <td scope="row" >6</td>
    </tr>
    </body>
  </table>

      </div>
      <div class="col-md-3">
        <center><h5>Final</h5></center>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <td scope="col" style="background-color:#BBF3BB">Real Madrid</td>
      <td scope="col" >3</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" >Liverpool</td>
      <td scope="row" >1</td>
    </tr>
    </body>
  </table>
      </div>
    </div>
  </div>

  <hr/>
<center>
  <h3>Winner</h3>
  <h4>Real Madrid</h4>
  <img src="https://static01.nyt.com/images/2018/05/27/sports/27championstrophy/merlin_138716301_7655ceb3-fb5e-4354-821a-bfad8d475786-superJumbo.jpg" height="700">
</center>
