<center>
<h1>Welcome to the Chmapion League App!</h1>
<br/>

<div>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1024px-UEFA_Champions_League_logo_2.svg.png"height="500">
</div>

<br/>

<h3>Select Season</h3>
<br/>
<div class="dropdown">
  <a class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Season
  </a>
  </br>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="/this_season">2021-2022</a></li>
    <li><a class="dropdown-item" href="/last_season">2020-2021</a></li>
    <li><a class="dropdown-item" href="/before_two_season">2019-2020</a></li>
    <li><a class="dropdown-item" href="/before_three_season">2018-2019</a></li>
    <li><a class="dropdown-item" href="/before_four_season">2017-2018</a></li>
  </ul>
</div>
