<h1>Welcome to the Chmapion League App!</h1>

<div>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1024px-UEFA_Champions_League_logo_2.svg.png"height="500">
</div>
<br/>
Select Season
  <select name="query_season_year">
    <%= Season.all.order(:season_year => :desc).each do |a_season| %>
      <option value="<%= a_season.id %>">
        <%= a_season.season_year %>
      </option>
    <% end %>
  </select>

  <hr>

  <H2>Group Stage</h2>

  <hr>

  <H2>Knock-out Stage</h2>

  <hr>

  <H2>Winner</h2>

  <hr>

  <H3>Top Scorer</h3>

  <hr>

  <H3>Final Stadium</h3>

  <hr>

  <H3>Coach</h3>
