<div>
  <div>
    <h1>
      List of all seasons
    </h1>
  </div>
</div>
<br/>
<table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col">Season Year</th>
      <th scope="col">Winner</th>
      <th scope="col">Stadium</th>
      <th scope="col">Top Scorer</th>
    </tr>
  </thead>
  <tbody>
  <% @list_of_seasons.each do |a_season| %>
    <tr>
      <td><%= a_season.season_year %></td>
      <td><%= a_season.winner_id %></td>
      <td><%= a_season.stadium_id %></td>
      <td><%= a_season.top_scorer_id %></td>
    </tr>
  </tbody>
  <% end %>
</table>      
</div>
<br/>
<hr>
<center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1920px-UEFA_Champions_League_logo_2.svg.png" class="rounded" height="200"></center>
