<div>
  <div>
    <form class="d-flex" role="search" action="/last_season">
      <button class="btn btn-outline-secondary" type="submit" > 2020-2021</button>
    </form>
  </div>
</div>
<br/>
<center>
  <h2>2021-2022 Season<h2>
</center>
<br/>
  <center><h3>Group Stage</h3></center>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City </td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Club Brugge</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-md-4">
        <h4>Group B</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1</th>
      <td style="background-color:#BBF3BB">Liverpool</td>
      <td style="background-color:#BBF3BB">6</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">18</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Atlético Madrid</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">7</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Porto</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Milan</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-md-4">
        <h4>Group C</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Ajax</td>
      <td scope="row" style="background-color:#BBF3BB">6</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">18</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Sporting CP</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">0</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">9</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Borussia Dortmund</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>9</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Beşiktaş</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
  </div>
<br/>
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City </td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Club Brugge</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City </td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Club Brugge</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City </td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Club Brugge</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
    </div>
  </div>
<br/>
    <center><div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City </td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Club Brugge</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4">
        <h4>Group A</h4>
  <table class="table align-middle table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color:#C0C0C0">Pos</th>
      <th scope="col" style="background-color:#C0C0C0">Team</th>
      <th scope="col" style="background-color:#C0C0C0">W</th>
      <th scope="col" style="background-color:#C0C0C0">D</th>
      <th scope="col" style="background-color:#C0C0C0">L</th>
      <th scope="col" style="background-color:#C0C0C0">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">1 </th>
      <td scope="row" style="background-color:#BBF3BB">Manchester City</td>
      <td scope="row" style="background-color:#BBF3BB">4</td>
      <td scope="row" style="background-color:#BBF3BB">0</td>
      <td scope="row" style="background-color:#BBF3BB">2</td>
      <td scope="row" style="background-color:#BBF3BB">12</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#BBF3BB">2</th>
      <td style="background-color:#BBF3BB">Paris Saint-Germain</td>
      <td style="background-color:#BBF3BB">3</td>
      <td style="background-color:#BBF3BB">2</td>
      <td style="background-color:#BBF3BB">1</td>
      <td style="background-color:#BBF3BB">11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RB Leipzig</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Club Brugge</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
    </div>
  </div></center>
