  <div>
  <div>
    <a href="/seasons">
      Go back
    </a>
  </div>
  <br/>
  <div>
    <h2>
      Season <%= @the_season.season_year %>
    </h2>

    <dl>
      <dt>
        Final Stadium
      </dt>
      <dd>
        <%= @the_season.stadium_id %>
      </dd>

      <dt>
        Top scorer
      </dt>
      <dd>
        <%= @the_season.top_scorer_id %>
      </dd>

      <dt>
        Winner
      </dt>
      <dd>
        <%= @the_season.winner_id %>
      </dd>
    </dl>
  </div>
</div>
