<div>
  <div>
    <h1>
      List of all coaches
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Coach name
        </th>

        <th>
          Club
        </th>

      </tr>

      <% @list_of_coaches.each do |a_coach| %>
      <tr>

        <td>
          <%= a_coach.coach_name %>
        </td>

        <td>
          <%= a_coach.coach_name %>
        </td>

        <td>
          <%= a_coach.club_id %>
        </td>

        <td>
          <a href="/coaches/<%= a_coach.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
