<div>
  <div>
    <h1>
      Coaches
    </h1>
  </div>
</div>

<hr>
</br>

  <div>
    <div class="container">
    <div class="row">
      <div class="col-md-8">
  <table class="table align-middle table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Coach Name</th>
        <th scope="col">Picture</th>
      </tr>
    </thead>
    <tbody>
      <% @list_of_coaches.order(:season_id).reverse_order.each do |a_coach| %>
      <tr>
        <td><%= a_coach.id %></td>
        <td><%= a_coach.coach_name %></td>
        <td>
          <a href="/coaches/<%= a_coach.id %>">
            <%= a_coach.coach_name %>'s picture
          </a>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table> 
  </div>
  <br/>
  
<center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1920px-UEFA_Champions_League_logo_2.svg.png" class="rounded" height="200"></center>
